<html>
  <head>
    <title>BugTrack</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script>
      document.onreadystatechange = ()=>{
        if(document.readyState === 'interactive'){
          document.getElementById('userAgent').value = window.navigator.userAgent;
          document.getElementById('userDate').value = new Date()

        }
      }
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", 'http://meuip.com/api/meuip.php');
      xmlhttp.send();
      xmlhttp.onload = function(e) {
        alert("Seu IP é: "+xmlhttp.response);
      }
    </script>
  </head>

  <body>
    
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">BugTracker</a>
    </nav>
    
    <div class='container'>
      <h1>Ferramenta de Relato de Bugs</h1>
      <p>Preencha todos os dados a seguir:</p>

      <form method="post" action="" name="formulario" class="was-validated">
        <div class="form-group">
          <label for="name">Nome:</label>
          <input class="form-control is-valid" type="text" id="name" name="name" placeholder="Nome Completo" required />
        </div>

        <div class="form-group">
          <label for="email">E-Mail:</label>
          <input class="form-control is-valid" type="email" id="email" name="email" placeholder="E-Mail" required />
        </div>

        <div class="form-group">
          <label for="issueType">Classificação:</label>
          <select class="form-control is-valid" id="issueType" name="issueType">
            <option value="">Selecionar</option>
            <option value="BUG">Falha</option>
            <option value="CRITICO">Critico</option>
            <option value="MELHORIA" >Melhoria</option>
          </select>
        </div>

        <div class="form-group">
          <label for="howToReproduce">Como reproduzir o erro?</label>
          <input class="form-control is-valid" type="text" id="howToReproduce" name="howToReproduce" placeholder="Como o erro foi reproduzido" required />
        </div>

        <div class="form-group">
          <label for="expectedOutput">Qual a saída esperada?</label>
          <textarea class="form-control is-valid" type="text" id="expectedOutput" name="expectedOutput" placeholder="Qual era a saida esperada" required></textarea>
        </div>

        <div class="form-group">
          <label for="receivedOutput">Qual a saída Recebida?</label>
          <textarea class="form-control is-valid" type="text" id="receivedOutput" name="receivedOutput" placeholder="Qual a saida recebida" required></textarea>
        </div>

        <div class="form-group">
          <input class="form-control is-valid" type="hidden" id="userAgent" name="userAgent" required />
          <input class="form-control is-valid" type="hidden" id="userDate" name="userDate" required />
        </div>

        <button class="btn btn-primary">Enviar Solicitação</button>
      </form>
    <div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>